<!DOCTYPE html>
<html ng-app="betmaster">
    <head>
      <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Bet Master</h1>
                <p>Очень помогает</p>
            </div>
        </div>
        <div class="container">
            <div ng-controller="FetchListCtrl as ctrl">
                <p>
                    <button class="btn btn-default" ng-disabled="ctrl.loading" ng-click="ctrl.fetchData()">Получить информацию</button>
                </p>
                <table class="table table-bordered">
                    <tr ng-repeat="s in ctrl.data track by $index">
                        <td>{{s}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
