<!DOCTYPE html>
<html ng-app="betmaster">
    <head>
      <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Bet Master</h1>
                <p>Делает сложные вещи простыми</p>
            </div>
        </div>
        <div class="container">
            <div ng-controller="FetchListCtrl as ctrl">
                <p>
                    <button class="btn btn-default" ng-disabled="ctrl.loading" ng-click="ctrl.fetchData()">Получить информацию</button>
                </p>
                <table class="table table-bordered table-striped">
                    <tr ng-repeat="s in ctrl.data track by $index">
                        <td>{{s}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="container">
            <h2>Отзывы наших клиентов</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="headshot">
                        <img src="/img/bender.jpg" class="img-circle">
                    </div>
                    <blockquote>
                        <p>"Благодаря Bet Master я могу полировать свой блестящий зад дважды в день!"</p>
                        <footer>Бендер "Сгибальщик" Родригес</footer>
                    </blockquote>

                </div>
                <div class="col-md-4">
                    <div class="headshot">
                        <img src="/img/gates.jpg" class="img-circle">
                    </div>
                    <blockquote>
                        <p>"Bet Master помог мне заработать деньги на поездку в Люксембург, спасибо!"</p>
                        <footer>Билл Гейтс, ООО "Майкрософт"</footer>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <div class="headshot">
                        <img src="/img/gray.jpg" class="img-circle">
                    </div>
                    <blockquote>
                        <p>"Я мечтала о своей ладе калине все свою сознательную жизнь. Bet Master помог мне воплотить эту мечту"</p>
                        <footer>Саша Грей, порноактриса.</footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p>Все права принадлежат их законным владельцем. Тель-Авив 2015</p>
            </div>
        </div>
    </body>
</html>
